<div class="view-container">

    <section class="hero">
        <div class="img-container">
            <img src="" alt="">
        </div>
        <h2>¡El mejor viaje espacial te esta esperando!</h2>
        <h4>Reserva ahora tus boletos y obten increibles descuentos</h4>
        <button class="btn btn-small" routerLink="/flights"> Conoce más </button>
    </section>
    <section class="flight">
        <div class="img-container">
            <img src="../../assets/saturn.png" alt="">
        </div>
        <div class="">100000</div>
        <div class="">Saturno</div>
        <div >
            <p>
                Adorned with thousands of beautiful ringlets, Saturn is unique among the planets. 
                All four gas giant planets have rings -- made of chunks of ice and rock 
                -- but none are as spectacular or as complicated as Saturn's. Like the other gas giants, 
                Saturn is mostly a massive ball of hydrogen and helium.
            </p>
            <button class="btn btn-small" routerLink="/flights">Reserva vuelo</button>
        </div>
    </section>
    <section class="flight">
        <div class="img-container">
            <img src="../../assets/saturn.png" alt="">
        </div>
        <div class="">100000</div>
        <div class="">Saturno</div>
        <div >
            <p>
                Namesake: Roman god of war.
                Orbit: About 142 million miles from the sun, 50 percent farther than the Earth.
                Day: About 24.6 hours. Year: About 687 Earth days.
            </p>
            <button class="btn btn-small" routerLink="/flights">Reserva vuelo</button>
        </div>
    </section>
</div>
