<div class="row view-container login-form">
  <h3>Crear cuenta</h3>
  <form class="col s12">
      <div class="row">
          <div class="input-field">
            <input formControlName="name" type="text" class="validate">
            <label for="name">Nombre</label>
          </div>
          <div class="input-field">
            <input formControlName="age" type="text" class="validate">
            <label for="age">Edad</label>
          </div>
          <div class="input-field">
              <input formControlName="email" type="text" class="validate">
              <label for="email">Correo</label>
          </div>
          <div class="input-field">
              <input formControlName="password" type="password" class="validate">
              <label for="password">Contraseña</label>
          </div>
      </div>
  </form>
  <button class="btn btn orange darken-1" (click)="onSubmit()">Registrar</button>
  <br><br>
  <a class="forgot" routerLink="/login">Ya tengo cuenta</a>
</div>