
<div class="card horizontal">
    <div class="card-image">
        <img src="../../../assets/milky.jpg" width="100%">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <div class="price">Desde: 1800 Odiseas</div>
            <p>
                Descripcion completa del viaje
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nobis dolorum quo! Voluptates ut, sequi exercitationem ad voluptatem totam eligendi est distinctio tenetur omnis vero ea assumenda delectus asperiores quo.
            </p>
            <button class="btn indigo darken-4" style="margin-top: 10px;" routerLink="/booking">Reservar viaje</button>
        </div>
    </div>
</div>

